<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <button (click)="addItem()">Add Item To List</button>

  <ul>
    <li *ngFor="let value of numbers">
      {{value}}
    </li>
  </ul>

  <course-category-list></course-category-list> -->

  <h3>header</h3>

  <ul>
    <li>
      <a routerLink="/course-category-list" routerLinkActive="active">Course Categories</a>
    </li>
    <li>
        <a routerLink="/course-category" routerLinkActive="active">Define course category</a>
    </li>
  </ul>

  <router-outlet></router-outlet>

  <h3>footer</h3>


</div>